@charset "UTF-8";
/* CSS Document */

article, aside, figure, footer, header, nav, section {
	display: block;
	margin: 0;
	padding: 0;
	background-repeat: back;
}
body {
	background-color: #446FA5;
}

.textSizeButtonI{
	
   
	
}

#images{
	text-align:center
}

h3 + p{
	width:500px;
		
}

h3{
 	background-repeat:no-repeat;
	background-position:center
	
}

#gameImages{
  
   
   padding:20px 20px 20px 20px;
   
   text-align:center;
}

ul {
    padding:0;
    margin:0;
}
nav ul {
    list-style: none;
    margin-bottom: 15px;
    font-weight: bold;
    font-size:20px;
}
nav ul li {
    float: left;
	
	
	-webkit-transition-duration:.5s;
    -webkit-transition-property:margin-top;
    -webkit-transition-timing-function:ease-in-out;
    -o-transition-duration:.5s;
    -o-transition-property:margin-top;
    -o-transition-timing-function:ease-in-out;
    -moz-transition-duration:.5s;
    -moz-transition-property:margin-top;
    -moz-transition-timing-function:ease-in-out;
    transition-duration:.5s;
    transition-property:margin-top;
    transition-timing-function:ease-in-out; 

}
nav ul a {
	border-radius:25px;
    
	display: block;
    width:140px;
    padding: 5.5px;
    text-align:center;
    text-decoration: none;
	color:#E6E6E6;
	background-color:#24C7DB; 
    
    border: 2px solid #000000;
    margin: 5px 0px;
}
nav ul a:link, nav ul a:visited {
    background: rgba(255,255,255,0.2); 
} 
nav ul a:hover, nav ul a:active, nav ul a:focus {
	background: rgba(255,255,255,0.4);
	-webkit-box-shadow: 1px 4px rgba(0,0,0,0.3);
	box-shadow: 1px 4px rgba(0,0,0,0.3);
	text-shadow: 1px 1px 1px rgba(0,0,0,0.8);
} 

nav ul li:hover {
    margin-top:-10px; 
}

nav {
	margin-left: 10;
	margin-left: 10;
	margin-bottom:15;
}

#btnAdd{
	
	
 	
}